html, body {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
}

body {
  background: url(https://s3.amazonaws.com/codecademy-content/projects/junction/bg.jpg) no-repeat center center fixed;
  background-size: cover;
}

.nav{
    list-style: none;
    display: inline-block;
}

.nav li {
    display: inline-block;
    padding: 8px;
    font-size: 14px;
    color: white;
}

.container {
  max-width:940px;
}

/* Header */
.header {
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Jumbotron */
.jumbotron h1 {
    color:white;
}

.jumbotron {
    background: rgba(0, 0, 0, 0);
    position: relative;
    top: 30px;
    text-shadow: 0 2px 3px rgba(0,0,0,.4);
    text-align:center;
}

/* Supporting */
.supporting {
  margin-top: 40px;
  text-shadow: 0 2px 3px rgba(0,0,0,.4);
  color:white;
}

.supporting .container {
    text-align: center;
}

.download .container {
    padding-top: 80px;
    text-align: center;
}

.download .btn-default {
    background: rgba(0, 255, 188, 0.5);
    color: white;
    border: none;
    font-size: 18px;
    padding: 10px 60px;
    display: inline-block;
}
