html, body {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
}

body {
  background: url(img/mountain.png) no-repeat center center fixed;
  background-size: cover;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: RGB(53, 151, 211);
}

.nav{
    list-style: none;
    display: inline-block;
}

.nav li {
    display: inline-block;
    padding: 8px;
    font-size: 14px;
    color: white;
}

.col-md-4 {
  padding-bottom: 30px;
}

p {
  max-width: 200;
}

.container {
  max-width:940px;
}

/* Header */
.header {
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Supporting */
.supporting {
  margin-top: 120px;
  text-shadow: 0 2px 3px rgba(0,0,0,.4);
  color:white;
  text-align: center;
}

.supporting p {
  font-family: 'Source Sans Pro', sans-serif;
}

.row {
    margin-bottom: 40px;
}
